audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 5px 5px 5px rgba(0,0, 0, 0.2);
-moz-box-shadow: 5px 5px 5px rgba(0,0, 0, 0.2);
box-shadow: 5px 5px 5px rgba(0,0, 0, 0.2);
-webkit-transform: scale(0.92);
-moz-transform: scale(0.92);
transform: scale(0.92);
}


audio
{
-webkit-transform: scale(0.9);
-moz-transform: scale(0.9);
transform: scale(0.9);
-webkit-transition:all 0.1s linear;
-moz-transition:all 0.1s linear;
-o-transition:all 0.1s linear;
transition:all 0.1s linear;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}
