.butt_std{
	font: 12px Arial;
	color: #333333;
	background: #eeeeee;
	border: 1px solid #cccccc;
	cursor: pointer;
	padding: 7px;
}
.butt_std:hover{
	background: #e3e3e3;
}
.butt_green{
	font: 12px Arial;
	color: #555555;
	background: #afe9af;
	border: 1px solid #cccccc;
	cursor: pointer;
	padding: 7px;
}
.butt_green:hover{
	background: #cfe9cf;
}
