/* стиль таблицы в доп. затратах */
.expn_mainTab{
	border: 10px solid #ffffff;
	vertical-align: middle;
	background: #ffffff;
	width: 800px;
}
.expn_header{
	border-bottom: 1px solid #cccccc;
	vertical-align: middle;
	color: #555555;
	background: #eeeeee;
	font: 14px Arial;
}
.expn_rec{
	border: 1px solid #dddddd;
	color: #555555;
	font: 14px Arial;
	width: 100%;
}
.expn_tab{
	border: 1px solid #dddddd;
	color: #555555;
	font: 14px Arial;
}
