body{
	font: 14px Arial;
	color: #555555;
	/*text-align: center;*/
}
td{
	font: 14px Arial;
	color: #555555;
	vertical-align: top;
	text-align: left;
}
span{
	font: 20px Arial;
	color: #555555;
}
.haction1{
	font: 28px Arial;
	color: #555555;
}
.haction2{
	font: 22px Arial;
	color: #777777;
}
.rtd{
	border: 1px solid #cccccc;
	text-align: center;
	vertical-align: top;
}
.rtd00g{
	font: 18px Arial;
	color: #555555;
	border: 1px solid #cccccc;
	text-align: left;
	vertical-align: top;
	background: #cccccc;
}
.rtd01g{
	border: 1px solid #cccccc;
	font: 14px Arial;
	color: #555555;
	text-align: right;
	vertical-align: top;
	background: #cccccc;
}
.rtd02g{
	border: 1px solid #cccccc;
	font: 14px Arial;
	color: #555555;
	text-align: right;
	vertical-align: top;
	background: #dddddd;
	min-width: 50px;
}
.rtd00r{
	font: 18px Arial;
	color: #555555;
	border: 1px solid #cccccc;
	text-align: left;
	vertical-align: top;
	background: #ffaaaa;
}
.rtd01r{
	border: 1px solid #cccccc;
	font: 14px Arial;
	color: #555555;
	text-align: right;
	vertical-align: top;
	background: #ffaaaa;
}
.rtd02r{
	border: 1px solid #cccccc;
	font: 14px Arial;
	color: #555555;
	text-align: right;
	vertical-align: top;
	background: #ffbbbb;
	min-width: 50px;
}
.rtd00b{
	font: 18px Arial;
	color: #555555;
	border: 1px solid #cccccc;
	text-align: left;
	vertical-align: top;
	background: #87aade;
}
.rtd01b{
	border: 1px solid #cccccc;
	font: 14px Arial;
	color: #555555;
	text-align: right;
	vertical-align: top;
	background: #87aade;
}
.rtd02b{
	border: 1px solid #cccccc;
	font: 14px Arial;
	color: #555555;
	text-align: right;
	vertical-align: top;
	background: #afc6e9;
	min-width: 50px;
}
.rtd00s{
	font: 18px Arial;
	color: #555555;
	border: 1px solid #cccccc;
	text-align: left;
	vertical-align: top;
	background: #87de87;
}
.rtd01s{
	border: 1px solid #cccccc;
	font: 14px Arial;
	color: #555555;
	text-align: right;
	vertical-align: top;
	background: #87de87;
}
.rtd02s{
	border: 1px solid #cccccc;
	font: 14px Arial;
	color: #555555;
	text-align: right;
	vertical-align: top;
	background: #afe9af;
	min-width: 50px;
}
