html,
body {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.select2-container--krajee .select2-selection--single .select2-selection__rendered{
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table;
    table-layout: fixed;
}

.grid-view table th{
    font: 12px Arial;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: normal;
    font-family: Arial;
    color: #555555;
    background: URL(/img/bg11.png);
    background-repeat: repeat-x;
    cursor: pointer;
    height: 20px;
    background-size: contain;
}

.grid-view table tr{
    height: 12px;
}

.grid-view table thead a {
    font: 12px Arial;
    color: #555555;
    font-weight: normal;
    text-decoration: none;
}

.selected{
    background-color: #D7EEF4 !important;
}

.new_tender{
    margin-left: 20px;
    height: 25px;
    width: 40px;
    font: 18px Arial;
    color: #555555;
    background: URL(/img/bg12.png);
    background-repeat: repeat-x;
    cursor: pointer;
    text-decoration: none;
}
.new_tender:hover {
    margin-left: 20px;
    height: 25px;
    width: 40px;
    font: 18px Arial;
    color: #555555;
    background: URL(/img/bg12.png);
    background-repeat: repeat-x;
    cursor: pointer;
    text-decoration: none;
}

.haction{
    font: 28px Arial;
    color: #00aad4;
}
.haction:hover{
    font: 28px Arial;
    color: #00aad4;
    text-decoration: none;
}

.cursor-disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.select2-selection__clear {
    top: -3px !important;
    right: 1px !important;
}

.allow-participate-text{
    font-size: 14px;
}

.allow-participate-input{
    margin-left: 20px !important;
}

#hidden_risks{
    display:none;
}