.smartXDiv{
	background-color:#ffffff;
	float:left;
	padding: 10px;
	border: 1px solid #dddddd;
	min-width: 120px;
}
.smartXInput{
	width: 90%;
	font: 14px Arial;
	color: #333333;
	background: #ffffff;
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	min-height: 25px;
}
.smartXItem{
	font: 12px Arial;
	color: #333333;
	background: #ffffff;
	cursor: pointer;
	line-height: 1.5;
}
.smartXItem:hover{
	background: #d7e3f4;
}
