.main{
  width:900px;
}
/******************agreement*************************/
.main-agr{
text-align: justify;
display: table;
border-spacing:10px;
background-color: #ffffff;
float:left;
}
.main-agr h4{
  text-align: center;
  font-size: 12pt;
}

.main-agr,.main-agr ul,.main-agr li,.main b,.main p,.main{
	font-size: 11pt;
	font-family: calibri, arial, "Times New Roman";
}

.row{
display: table-row;
width: 100%;
}
.cell{
width:43%;
padding: 5px 10px 5px 40px;
float:left;
display: table-cell;
}
.cell2{
float: left;
width: 18%;
padding: 5px 10px 5px 40px;
font: 10pt calibri;
text-align: left;
}
.center{
text-align: center;
}
.width{
	width:18%;
}
.width2{ 
width: 40%;	
}
.width25{ 
width: 46%;	
}
.space{
  float: right;
}


/******************appendix1*************************/

.main-app1{
  padding: 50px 50px;
  float:left;
  background-color: #ffffff;
  display: table;
}

.main-app1,.main-app1 p{
	 font-family: calibri, arial, "Times New Roman";
	 font-size: 11pt;
}
/*********************appendix2**********************/

.main-app2{
text-align: justify;
display: table;
border-spacing:11pt;
background-color: #ffffff;
}
.main-app2,.main-app2 p,.main-app2 ul,.main-app2 li{
	font-family: calibri, arial, "Times New Roman";
	font-size: 11pt;
}


.pdf_main{
  width:100%;
}
.pdf_main-agr h4{
  text-align: center;
  font-size: 11pt;
}
.pdf_main-agr,.pdf_main-agr ul,.pdf_main-agr li,.pdf_main b,.pdf_main p,.pdf_main{
	font-size: 10pt;
	font-family: calibri, arial, "Times New Roman";
}
.pdf_cell{
float: left;
width: 46%;
padding: 10px 20px 0px 0px;
font: 10pt calibri;
text-align: justify;
}
.pdf_cell2{
float: left;
width: 22%;
padding: 10px 15px 0px 0px;
font: 9pt calibri;
text-align: left;
}
.pdf_row{
width: 100%;
}
.pdf_main-app1{
  padding: 50px 50px;
  float:left;
  background-color: #ffffff;
}
.pdf_main-app1,.main-app1 p{
	 font-family: calibri, arial, "Times New Roman";
	 font-size: 10pt;
}
.pdf_main-app2{
text-align: justify;
border-spacing:10pt;
background-color: #ffffff;
}
.pdf_main-app2,.pdf_main-app2 p,.pdf_main-app2 ul,.pdf_main-app2 li{
	font-family: calibri, arial, "Times New Roman";
	font-size: 10pt;
}

