.co_inp {
 width: 100%;
 font: 24px Arial;
 color:#555555;
 text-align: right;
}
.co_txt {
 width: 100%;
 height: 47px;
 font: 14px Arial;
 color:#555555;
}
.co_win{
 width: 300px;
 border: 10px solid #dbe2e3;
 background: #dbe2e3;
}
.co_haction1{
 font: 24px Arial;
 color: #555555;
}
.co_small{
 font: 11px Arial;
 color: #777777;
}
#co_okbutt{
 font: 12px Arial;
 color: #777777;
 border: 7px solid #ffffff;
 background: #ffffff;
 cursor: pointer;
}
#co_cancbutt{
 font: 12px Arial;
 color: #777777;
 border: 7px solid #e7e7e7;
 background: #e7e7e7;
 cursor: pointer;
}
#co_rejbutt{
 font: 12px Arial;
 color: #777777;
 border: 7px solid #ffcccc;
 background: #ffcccc;
 cursor: pointer;
}
#cfg_co_chserv_txt{
 font: 17px Arial;
 color: #cc3333;
 cursor: pointer;
}