body{
	font: 12px Arial;
	color: #555555;
	/*text-align: center;*/
}
td{
	font: 12px Arial;
	color: #555555;
	vertical-align: top;
	text-align: left;
}
select{
	font: 11px Arial;
	color: #555555;
}
p{
	text-indent: 30px;
	text-align: justify;
	font: 14px Arial;
	color: #333333;
}

.p1{
	text-indent: 0px;
	text-align: justify;
	font: 14px Arial;
	color: #333333;
}
/* большой select */
.bigsel {
	font: 14px Arial;
	color: #555555;
	min-height: 25px;
	border-radius: 5px;
}
/* большой select */
.bigsel1 {
	font: 14px Arial;
	color: #555555;
	width: 90%;
	min-height: 25px;
}
.wrapper {
    margin: 0px auto;
    text-align: left;
}
/* алфавит в Контакты */
.alpha01{
	font: 14px Arial;
	color: #555555;
	cursor: pointer;
}
/* алфавит в Контакты, выбранная буква */
.alpha02{
	font: 14px Arial;
	color: #0033d4;
	font-weight: bold;
	cursor: pointer;
}
/* название выбранного действия в div1 */
.haction{
	font: 28px Arial;
	color: #00aad4;
}
/* название контрагента в сделках, обозначение разделов */
.haction1{
	font: 24px Arial;
	color: #5d5d5d;
}
/* название контактов */
.cntlist{
	font: 14px Arial;
	color: #000000;
}
/* название компании в контактах */
.cntlist2{
	font: 14px Arial;
	color: #2c5aa0;
}
/* название должности в контактах */
.cntlist3{
	font: 11px Arial;
	color: #777777;
}
/* номер телефона в контактах */
.cntlist4{
	font: 11px Arial;
	color: #555555;
}
/* главное меню */
.mainmenu{
	font: 14px Arial;
	color: #ffffff;
	cursor: pointer;
	text-align: center;
	vertical-align: top;
	height: 30px;
}
.mainmenu:hover{
	color: #eeeeee;
}
/* вспомогательное меню */
.childmenu{
	font: 11px Arial;
	color: #cc5555;
	cursor: pointer;
	text-align: center;
	border-left: 1px solid #cccccc;
}
/* заголовок меню в реестрах */
.lmenu{
	font: 12px Arial;
	color: #000000;
	background: URL(/img/bg11.png);
	background-repeat: repeat-x;
	cursor: pointer;
}
/* заголовок меню с фильтрами в реестрах */
.l2menu{
	font: 11px Arial;
	color: #000000;
	background: URL(/img/bg12.png);
	background-repeat: repeat-x;
	cursor: pointer;
}
/* строки реестра с неактивными позициями */
.inactr{
	border-bottom: 1px solid #999999;
	color: #999999;
	cursor: default;
}
/* граница обычной строки реестра */
.lotr{
	border-bottom: 0px solid #cccccc;
	cursor: pointer;
}
/* обычная строка реестра */
.lotr1{
	background: #ffffff;
	cursor: pointer;
}
/* обычная строка реестра для чередования*/
.lotr2{
	background: #eeeeee;
	cursor: pointer;
}
/* выделенная строка реестра */
.hitr{
	background: #d7eef4;
	cursor: pointer;
}
/* строка реестра контрагентов с запросом на доступ*/
.acc0{
	background: #f4eed7;
	cursor: pointer;
}
/* строка реестра контрагентов с подтвержденным запросом на доступ*/
.acc1{
	background: #d7f4e3;
	cursor: pointer;
}
/* строка реестра контрагентов с отклоненным запросом на доступ*/
.acc2{
	background: #ffd5d5;
	cursor: pointer;
}
/* стиль таблицы в div1 */
.tdtop{
	vertical-align: middle;
}
/* заголовок таблицы в отдельном окне */
.td00{
	border-bottom: 2px solid #00aad4;
	font: 16px Arial;
	color: #00aad4;
	height: 25px;
}
/* стиль таблицы в инфо по клиенту (заголовок) */
.td01{
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	font: 12px Arial;
	color: #555555;
	vertical-align: middle;
	background: #eeeeee;
	height: 25px;
}
.td01a{
	border-bottom: 1px solid #c1d7f5;
	border-right: 1px solid #c1d7f5;
	border-left: 1px solid #c1d7f5;
	font: 12px Arial;
	color: #555555;
	vertical-align: middle;
	background: #e4ecf4;
	height: 25px;
}
/* стиль таблицы в инфо по клиенту (текст) */
.td02{
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	font: 12px Arial;
	color: #555555;
	vertical-align: middle;
	height: 25px;
}
/* стиль таблицы в КП для ячейки с согласованной скидкой */
.td02r{
	border-top: 2px solid #97aade;
	border-bottom: 2px solid #97aade;
	border-right: 2px solid #97aade;
	border-left: 2px solid #97aade;
	font: 12px Arial;
	color: #555555;
	vertical-align: top;
}
/* стиль таблицы в инфо по клиенту (текст) обязательное */
.td02i{
	border-bottom: 1px solid #ff0000;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	font: 12px Arial;
	color: #555555;
	vertical-align: top;
}
/* стиль таблицы для неактивных позиций */
.td021{
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	font: 12px Arial;
	color: #aaaaaa;
	vertical-align: top;
}
/* стиль таблицы в плане продаж */
.td03{
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	font: 12px Arial;
	color: #333333;
	vertical-align: top;
	text-align: right;
}
/* стиль таблицы в форме в сделке */
.td04{
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	font: 14px Arial;
	color: #555555;
}
/* переключение страниц */
.tdpg{
	text-align:center;
	vertical-align:middle;
	width:30px;
	height:30px;
	background:#ffffff;
	cursor:pointer;
}
/* текущая страница в переключателе страниц */
.tdpgsel{
	text-align:center;
	vertical-align:middle;
	width:30px;
	height:30px;
	background:#cccfff;
	cursor:pointer;
}

/* Заголовок в просмотре инфо в отдельном окне */
.table00{
	font: 24px Arial;
	color: #ffffff;
	background: #2c89a0;
}
/* текст в редактируемых полях в инфо по клиенту */
.inp01{
	font: 11px Arial;
	color: #555555;
	width: 100%;
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	min-height: 25px;
}
/* поля для ввода INPUT в форме при создании действия в сделке */
.inp02{
	font: 12px Arial;
	color: #555555;
	width: 100%;
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	min-height: 25px;
}
/* поля для ввода TEXTAREA в форме при создании действия в сделке */
.inp03{
	font: 16px Arial;
	color: #555555;
}
/* SELECT в форме при создании действия в сделке */
.inp04{
	font: 16px Arial;
	color: #555555;
	width: 98%;
}
/* большие кнопки в инфо по клиенту */
.butt01{
	font: 18px Arial;
	color: #555555;
	background: URL(/img/bg12.png);
	background-repeat: repeat-x;
	cursor: pointer;
}
/* стандартные кнопки */
.butt02{
	font: 12px Arial;
	color: #333333;
	background: URL(/img/bg12.png);
	background-repeat: repeat-x;
	cursor: pointer;
	border: 3px solid #ffffff;
	border-radius: 5px;
}
/* Заголовок выпадающих окон */
.pwin{
	font: 11px Arial;
	color: #000000;
	background: #afc6e9;
}
/* ввод сумм в плане продаж по существующим */
.psinp{
	width: 48%;
	border-top: 0px;
	border-left: 0px;
	border-bottom: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	text-align: right;
	font: 22px Arial;
	color: #777777;
}
/* ввод сумм в плане продаж (прирост) */
.ps1inp{
	width: 48%;
	border-top: 0px;
	border-left: 0px;
	border-bottom: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	text-align: right;
	background: #d7e3f4;
	font: 22px Arial;
	color: #777777;
}
/* выбор менеджера в плане продаж */
.pssel{
	width: 100%;
	font: 18px Arial;
	color: #777777;
}
/* сущ. сумма в плане продаж */
.pssum1{
	color: #ffffff;
	background: #555555;
}
/* прирост сумма в плане продаж */
.pssum2{
	color: #ffffff;
	background: #2c5aa0;
}
/* сумма при невыполнении в плане продаж */
.pssum3{
	color: #ffffff;
	background: #ff5555;
}
/* список сделок, фон выбранной сделки */
.tdeal1{
	background: #5f5fd3;
	border: 7px solid #5f5fd3;
	border-radius: 5px;
}
/* список сделок, название выбранной сделки */
.fdeal1{
	font: 16px Arial;
	color: #eeeeee;
	cursor: pointer;
}
/* список сделок, фон не выбранной сделки */
.tdeal2{
	background: #ffffff;
	border: 7px solid #ffffff;
	border-radius: 5px;
}
/* фон кнопки новой сделки */
.tdeal3{
	background: #eeffff;
	border: 7px solid #eeffff;
}
/* продукт-каталог фон не выбранной позиции */
.tdeal4{
	border: 7px solid #ffffff;
}
/* вложенная сделка */
.tcdeal{
	width: 20px;
	border-right: 5px solid #37c671;
}
/* кнопка серая */
.tcdeal1{
	width: 120px;
	border: 7px solid #dfdfdf;
	background: #dfdfdf;
	cursor: pointer;
}
/* кнопка красная */
.tcdeal2{
	border: 7px solid #ffe5e5;
	background: #ffe5e5;
	cursor: pointer;
}
/* кнопка зеленая */
.tcdeal3{
	border: 7px solid #afe9af;
	background: #afe9af;
	cursor: pointer;
}
/* список сделок, название не выбранной сделки */
.fdeal2{
	font: 16px Arial;
	color: #777777;
	cursor: pointer;
}
/* название кнопки новой сделки */
.fdeal3{
	font: 16px Arial;
	color: #777777;
	cursor: pointer;
}
/* продукт-каталог название не выбранной позиции */
.fdeal4{
	font: 16px Arial;
	color: #555555;
	cursor: pointer;
}
/* кнопка лайка на стене */
.wlike{
	color:#ffffff;
	background:#9999dd;
	cursor:pointer;
}
/* кнопка в верхнем меню */
.cumenu{
	width: 130px;
	height: 25px;
	background: #ffffff;
	font: 14px Arial;
	color: #333333;
	border-bottom: 3px solid #ffffff;
	cursor: pointer;
}
.cumenu:hover{
	background: #efefef;
}
/* неактивная кнопка в верхнем меню */
.cuoffmenu{
	width: 130px;
	height: 25px;
	background: #eeeeee;
	font: 14px Arial;
	color: #777777;
	border-bottom: 3px solid #eeeeee;
}
/* активная кнопка в верхнем меню */
.cumenu2{
	width: 130px;
	height: 25px;
	background: #ffeeee;
	font: 14px Arial;
	color: #333333;
	border-bottom: 3px solid #dd7777;
}
/* большие цифры на кнопках на главной */
.bnum{
	font: 34px Arial;
	color: #f3f3f3;
}
/* позиции в дереве продукт-каталога */
.pc_1{
	font: 18px Arial;
	color: #555555;
	cursor: pointer;
}
/* выбранные позиции в дереве продукт-каталога */
.pc_2{
	font: 18px Arial;
	color: #ffffff;
	background: #5f5fd3;
	cursor: pointer;
}
/* позиции средних уровней в дереве продукт-каталога */
.pc_1m{
	font: 16px Arial;
	color: #555555;
	cursor: pointer;
}
/* выбранные позиции средних уровней в дереве продукт-каталога */
.pc_2m{
	font: 16px Arial;
	color: #ffffff;
	background: #5f5fd3;
	cursor: pointer;
}
/* позиции нижних уровней в дереве продукт-каталога */
.pc_1s{
	font: 12px Arial;
	color: #555555;
	cursor: pointer;
}
/* выбранные позиции нижних уровней в дереве продукт-каталога */
.pc_2s{
	font: 12px Arial;
	color: #ffffff;
	background: #5f5fd3;
	cursor: pointer;
}
/*Напоминалка календаря*/
.rem1{
	vertical-align: top;
	text-align: center;
	background: #5f8dd3;
	border: 15px solid #5f8dd3;
}
.rem1a{
	font: 14px Arial;
	color: #f0f0f0;
}
.rem1b{
	font: 28px Arial;
	color: #ffffff;
}
.rem2{
	vertical-align: top;
	font: 16px Arial;
	color: #777777;
	background: #ffffff;
	border: 15px solid #ffffff;
	cursor: pointer;
}
.rem2a{
	font: 12px Arial;
	color: #5f8dd3;
}
.rem2b{
	vertical-align: middle;
	text-align: center;
    font: 16px Arial;
	font-weight: bold;
	color: #5f8dd3;
	cursor: pointer;
	background: #ffffff;
}
.cnt_spec_header{
	font: 16px Arial;
	color: #777777;
}
.hilight1{
	color: #3771c8;
	text-decoration: underline;
	cursor: pointer;
}
.docheader{
	font: 28px Arial;
	color: #777777;
}
.docheader1{
	font: 22px Arial;
	color: #777777;
}
.adviceBox1{
	z-index: 5;
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 327px;
	height: 191px;
	background: URL(/img/advice_lb2.png);
	border: 0px;
}
.editElem{
	font: 11px Arial;
	color: #555555;
	width: 100%;
	background: #ffeeaa;
	border: 1px solid #cccccc;
}
.stdbutt{
	height: 25px;
	text-align: center;
	vertical-align: middle;
	background: #e1e1e1;
	cursor: pointer;
}
.stdbutt:hover{
	height: 25px;
	text-align: center;
	vertical-align: middle;
	background: #5f5fd3;
	color: #ffffff;
	cursor: pointer;
}
.ccNum{
	background: #ffffff;
	color: #000000;
	font: 8px Arial;
}
.flash {
   cursor: pointer;
   animation-name: flash;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {background: #ffaaaa;}
    to {background: #ff5555;}
}
