body{
	font: 11px Arial;
	color: #555555;
	width: 100%;
}
table{
	width:100%;
}
td{
	font: 11px Arial;
	color: #555555;
	vertical-align: top;
	text-align: left;
}
select{
	font: 11px Arial;
	color: #555555;
}
p{
	text-indent: 30px;
	text-align: justify;
	font: 11px Arial;
	color: #333333;
}

.haction1{
	font: 20px Arial;
	color: #5d5d5d;
}
.td00{
	border-bottom: 2px solid #00aad4;
	font: 11px Arial;
	color: #00aad4;
	height: 25px;
}
/* стиль таблицы в инфо по клиенту (заголовок) */
.td01{
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	font: 11px Arial;
	color: #555555;
	vertical-align: middle;
	background: #eeeeee;
	height: 25px;
}
/* стиль таблицы в инфо по клиенту (текст) */
.td02{
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	font: 11px Arial;
	color: #555555;
	vertical-align: middle;
	height: 25px;
}
#header01{
	font: 24px Arial;
	color: #555555;
}
#mainTrTab{
	width: 100%;
	padding: 1px;
	border-spacing: 1px 1px;
	border: 0px;
}
#mainTrTabTd0{
	display: none;
	width: 0px;
}
#mainTrTabTd1{
	width: 50%;
}
#mainTrTabTd2{
	width: 50%;
}
#TrTab01{
	width: 100%;
}
#TrTab02{
	width: 100%;
}
#TrTab03{
	width: 100%;
}
#TrTabTd01{
	width: 50%;
}
#TrTabTd02{
	width: 50%;
}
