.topMenuX{
	min-width: 100px;
	height: 25px;
	background: #ffffff;
	font: 14px Arial;
	color: #333333;
	border-bottom: 3px solid #ffffff;
	cursor: pointer;
}
.topMenuX:hover{
	background: #efefef;
}
/* неактивная кнопка в верхнем меню */
.topMenuXOff{
	min-width: 100px;
	height: 25px;
	background: #eeeeee;
	font: 14px Arial;
	color: #777777;
	border-bottom: 3px solid #eeeeee;
}
/* активная кнопка в верхнем меню */
.topMenuXSelected{
	min-width: 100px;
	height: 25px;
	background: #ffeeee;
	font: 14px Arial;
	color: #333333;
	border-bottom: 3px solid #dd7777;
}
