.table_X{
	width: 100%;
	border: 0px;
}
.tr_h_01{
	height: 25px;
}
.tr_d_01{
	height: 25px;
	background: #ffffff;
	font: 12px Arial;
	color: #333333;
}
.tr_d_02{
	height: 25px;
	background: #eeeeee;
	font: 12px Arial;
	color: #333333;
}
.td_h_01{
	background: #cccccc;
	font: 12px Arial;
	color: #333333;
}
.td_d_01{
	font: 12px Arial;
	color: #333333;
}
/* переключение страниц */
.tdpg_X{
	text-align:center;
	vertical-align:middle;
	width:30px;
	height:30px;
	background:#ffffff;
	cursor:pointer;
}
/* текущая страница в переключателе страниц */
.tdpgsel_X{
	text-align:center;
	vertical-align:middle;
	width:30px;
	height:30px;
	background:#cccfff;
	cursor:pointer;
}
